* {
    margin: 0;
    padding: 0;
}

body, ul, li, h1, h2, h3, h4, h5, h6, p, form, dl, dt, dd {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-weight: normal;
}

/*禁用横向滚动条*/
body {
    overflow-x: hidden;
    box-sizing: border-box;
}

ul, li, ol {
    list-style: none;
}

img {
    border-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/*版心*/
.w {
    width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

/*font-icon*/
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}